@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: "#FFF";
  backgroundcolor: "#FFF";
  overflow-x: hidden;
}

.authbg {
  background: url("../assets/authbg.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.floating-label,
.floating-label-password {
  color: #1e4c82;
  font-size: 13px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 11px;
  padding: 0 5px;
  background: #fff;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  z-index: 999999;
}
/* .floating-input:hover ~ .floating-label,
.floating-input-password:hover ~ .floating-label-password, */
.floating-input:focus ~ .floating-label,
.floating-inputpassword:focus ~ .floating-labelpassword {
  top: -8px;
  font-size: 13px;
}

.solid-btn {
  background-color: #010886 !important;
}

.searchInput {
  border-radius: 0 !important;
  border-top-width: 0 !important;
  border-right-width: 0 !important;
  border-left-width: 0 !important;
  padding-bottom: 0 !important;
}
.searchInput:focus {
  border-color: black !important;
}

.solid-action-btn {
  background-color: rgba(156, 169, 249, 0.3) !important;
}

.carouselBtn button {
  background: #010886 !important;
}

.profile-tab {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
  overflow-y: scroll !important;
}
